@{
    ViewBag.Title = "百度地图";
    Layout = "~/Views/Shared/_LayNewOut.cshtml";
}
@section self_css
{
    <style type="text/css">
        html, body {
            margin: 0;
            height: 100%;
        }

        #mapCanvas {
            height: 100%;
            width: 100%;
        }
    </style>
}
@section require_js_module
{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=mn4G2vQYgAYSwIy9HwVXTwU5"></script>
    <script>
        require(["JavaScript/common"], function () {
            require(["../../JavaScript/app/require.map.baidumap.main"]);
        });
    </script>
}
<div id="mapCanvas"></div>

