
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=mn4G2vQYgAYSwIy9HwVXTwU5"></script>
</head>
<body>
    <div id="mapCanvas" style="height:700px; width:100%;"></div>
    <form>
        <input type="checkbox" name="type" value="hospital"> 医院
        <input type="checkbox" name="type" value="subway"> 地铁
        <input type="checkbox" name="type" value="store">  商城
        <input type="button" id="submit" value="查询"> 
    </form>
    <script data-main="../Js/require.map.default.main" src="../Js/require.js"></script>
</body>
</html>
