
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>百度地图首页</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=mn4G2vQYgAYSwIy9HwVXTwU5"></script>
</head>
<body>
    <div id="mapCanvas" style="height:500px; width:100%;"></div> 
    <script data-main="../Js/require.map.index.main" src="../Js/require.js"></script>
    <div>
        <input id="picturebutton" type="button" value="添加图片" />
    </div>
</body>
</html>
