
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script data-main="../Js/require.map.index.main" src="../Js/require.js"></script>
</head>
<body>
    <div> 
        123
    </div>
</body>
</html>
