
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>百度地图首页</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=mn4G2vQYgAYSwIy9HwVXTwU5"></script>
</head>
<body>    
    <div id="mapCanvas" style="height:500px; width:100%;"></div> 
    <script data-main="../Js/require.map.index.main" src="../Js/require.js"></script>
    <div>
        <input id="picturebutton" type="button" value="添加图片" />
        <input id="markbutton" type="button" value="添加多个点" />
    </div>
    <div>
        <p>输入名称: <input id="searchaddress" type="text" style="width:200px" />
            <input id="searchbutton" type="button" value="搜索" /></p>
    </div>
        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:200px;height:auto; display:none;"></div>
    <script type="text/javascript">        
    </script>
</body>
</html>
