#map_left { position: absolute; top: 0px; left: 0px; width: 300px; height: 100%; background-color: #F5F5F5; filter: alpha(opacity:90); opacity: 0.9; display: none; border-right: 1px solid green; }
#map_left_logo { position: absolute; top: 300px; left: 0px; height: 56px; line-height: 56px; cursor: pointer; border-width: 1px 1px 1px 0px; filter: alpha(opacity:90); opacity: 0.9; border-style: solid solid solid none; border-color: green green green -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: #FFF; }

#map_left_menu { width: 51px; height: 100%; position: absolute; top: 0px; left: 0px; border-right: 1px solid green; float: left; }
#map_left ul li a { display: block; height: 50px; width: 50px; border: 1px solid green; position: relative; top: 36px; background-color: lightgreen; text-align:center; vertical-align:middle; line-height:50px; }
#map_left ul li { margin: 1px 0px; }
#map_left_content { width: 248px; height: 100%; position: absolute; top: 0px; left: 52px;float:right; }
.map_left_main_content { position: absolute; top: 0px; width: 100%; height: 80%; padding-top:15%; z-index:999999;}

#map_left_menu .selected { 
	background-color:white;
	border-right:none;
}
